<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>leximatewords</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p (click)="save()">Save a word in a database</p>
   <ion-list>
      <ion-item>
        <ion-label>A2 (assets)</ion-label>
        <ion-button (click)="runFromAssets('A2','assets/words/A2Words.json')" expand="block">
          Import A2
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Import from file</ion-label>
        <input type="file" accept="application/json" (change)="pick($event)" />
      </ion-item>
    </ion-list>
   @if (msg) {
  <div class="ion-padding">{{ msg }}</div>
}

</ion-content> -->
