<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/words"  routerDirection="forward">Words</ion-button>
  <ion-button routerLink="/speech"  routerDirection="forward">Text TO SPEECH</ion-button>
  <ion-button routerLink="/webspeech"  routerDirection="forward">WebSpeechApi</ion-button>
  <ion-button routerLink="/google-ai"  routerDirection="forward">GoogleAi</ion-button>
    <ion-button routerLink="/leximatewords"  routerDirection="forward">Leximate Import Words</ion-button>
      <ion-button routerLink="/unit-voyage"  routerDirection="forward">Voyage</ion-button>
            <ion-button routerLink="/unit-voyage1"  routerDirection="forward">Voyage1</ion-button>
               <ion-button routerLink="/lessons-slides"  routerDirection="forward">Lessons Slide</ion-button>
                  <ion-button routerLink="/lessons-slides1"  routerDirection="forward">Lessons Slide1</ion-button>
                                    <ion-button routerLink="/am-eng-slide"  routerDirection="forward">Lessons Slide with AmEnglish switch</ion-button>



</ion-content>
